# Игнорирование файлов и папок, созданных операционной системой
.DS_Store
Thumbs.db

# Игнорирование файлов, содержащих конфиденциальную информацию
credentials.json
secrets.json

# Игнорирование файлов сборки, временных файлов и каталогов
node_modules/
build/
dist/
*.log
*.tmp

# Игнорирование файлов проекта IDE
.vscode/

# Игнорирование файлов настроек среды выполнения
.env

